<section class="bg-gray-100 pt-28 w-full">
  <!-- cart cotainer -->
  <div class="container mx-auto px-[5%]">
    <h2 class="capitalize teachers-regular text-5xl">Checkout</h2>
    <!-- path -->
    <app-path></app-path>

    <!-- checkout container -->
    <!-- cart container -->
    <div
      *ngIf="products.length > 0"
      class="grid gap-x-6 gap-y-16 lg:gap-y-0 grid-cols-5 mt-12"
    >
      <div class="col-span-5 p-8 shadow-sm bg-white lg:col-span-3">
        <!-- discount container -->
        <div class="flex items-center justify-between mt-6">
          <!-- sidcount button -->
          <div>
            <p class="mb-1">Coupon Code:</p>
            <div class="flex -mt-6 gap-x-1 items-end">
              <input
                class="h-14 rounded-none pl-4 w-[17rem]"
                placeholder="Enter Copuon code"
                pInputText="text"
              />
              <!-- apply button -->
              <p-button
                styleClass="rounded-sm border-black py-4 px-8 font-light text-sm mt-8  bg-black text-white"
                label="Apply"
              ></p-button>
            </div>
          </div>
        </div>
      </div>

      <!-- cart details -->
      <div class="shadow-sm bg-white col-span-3 lg:col-span-2">
        <!-- subtotal start -->
        <div class="col-span-2 lg:col-span-1 shadow-2xl p-8">
          <h2 class="teachers-regular text-3xl mb-2">Your Order</h2>

          <!-- order total -->
          <div class="flex items-center justify-between">
            <p class="font-medium text-lg">Product</p>
            <p class="font-medium">Total</p>
          </div>
          <hr class="w-full h-1 bg-gray-100 mb-4 mt-2" />

          <div class="flex items-center justify-between">
            <p class="font-medium text-lg">Subtotal</p>
            <p class="font-medium">{{ totalPrice | currency }}</p>
          </div>

          <hr class="w-full bg-gray-50 my-4 h-1" />
          <!-- shipping start -->
          <div>
            <p class="teachers-regular font-medium">Shipping</p>
            <div class="flex flex-col">
              <div class="flex items-center mt-3 gap-x-2">
                <p-radioButton
                  (onClick)="increesPrice(20)"
                  id="flat"
                  name="shipping"
                  value="flat"
                  [(ngModel)]="shipping"
                  inputId="ingredient1"
                /><label class="text-sm" for="flat"
                  >Flat rate:
                  <span class="font-medium text-blue-500">$20.00</span></label
                >
              </div>
              <!-- local -->
              <div class="flex items-center mt-3 gap-x-2">
                <p-radioButton
                  (onClick)="increesPrice(25)"
                  id="local"
                  name="shipping"
                  value="local"
                  [(ngModel)]="shipping"
                  inputId="ingredient1"
                /><label class="text-sm" for="local"
                  >Local pickup:
                  <span class="font-medium text-blue-500">$25.00</span></label
                >
              </div>
              <!-- free shuppig -->
              <div class="flex items-center mt-3 gap-x-2">
                <p-radioButton
                  (onClick)="increesPrice(0)"
                  id="free"
                  name="shipping"
                  value="free"
                  [(ngModel)]="shipping"
                  inputId="ingredient1"
                /><label class="text-sm" for="free">Free shipping </label>
              </div>
            </div>
          </div>
          <hr class="w-full bg-gray-50 mt-4 mb-3 h-1" />

          <!-- total price -->
          <div class="flex items-center justify-between">
            <p class="font-medium text-lg">Total</p>
            <p class="font-medium">{{ totalPrice | currency }}</p>
          </div>

          <!-- checkout button -->
          <a routerLink="/pages/checkout">
            <p-button
              styleClass="rounded-sm w-full border-blue-500 py-4 px-10 font-light text-sm mt-8  bg-blue-500 text-white"
              label="Place Order"
            ></p-button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
