<p-toast></p-toast>

<section class="bg-gray-100 pt-28 w-full -mb-24 pb-20 border-b-2">
  <!-- cart cotainer -->
  <div class="container mx-auto px-[5%]">
    <h2 class="capitalize teachers-regular text-5xl">Checkout</h2>
    <!-- path -->
    <app-path></app-path>

    <!-- checkout container -->
    <!-- cart container -->
    <div
      *ngIf="products.length > 0"
      class="grid gap-x-6 gap-y-16 lg:gap-y-0 grid-cols-5 mt-10"
    >
      <div class="shadow-sm bg-white col-span-5 p-8 lg:col-span-3">
        <div>
          <!-- billing header -->
          <h2 class="teachers-regular text-3xl mb-12">Billing Details</h2>
          <!-- discount container -->
          <form [formGroup]="billingForm">
            <div>
              <!-- name root -->
              <div class="grid gap-x-6 grid-cols-2">
                <!-- fname -->
                <div>
                  <p class="mb-1 text-sm font-medium">
                    First Name <span class="text-red-500">*</span>
                  </p>
                  <input
                    class="h-14 w-full rounded-none pl-4"
                    placeholder="Enter Copuon code"
                    pInputText="text"
                  />
                </div>
                <!-- lname -->
                <div>
                  <p class="mb-1 text-sm font-medium">
                    First Name <span class="text-red-500">*</span>
                  </p>
                  <input
                    class="h-14 rounded-none pl-4 w-full"
                    placeholder="Enter Copuon code"
                    pInputText="text"
                  />
                </div>
                <!-- apply button -->
              </div>

              <!-- company -->
              <div class="my-6">
                <p class="mb-1 text-sm font-medium">Company name (optional)</p>
                <input
                  class="h-14 w-full rounded-none pl-4"
                  placeholder="Example LTD."
                  pInputText="text"
                />
              </div>

              <!-- Country / Region -->
              <div class="my-6">
                <p class="mb-1 text-sm font-medium">Country / Region</p>
                <input
                  class="h-14 w-full rounded-none pl-4"
                  placeholder="United States (US)"
                  pInputText="text"
                />
              </div>

              <!-- street address -->
              <div class="my-6">
                <p class="mb-1 text-sm font-medium">street address</p>
                <input
                  class="h-14 w-full rounded-none pl-4"
                  placeholder="House number and street name"
                  pInputText="text"
                />
                <input
                  class="h-14 w-full rounded-none pl-4 mt-5"
                  placeholder="Appartment number and street name"
                  pInputText="text"
                />
              </div>

              <!-- Town / City -->
              <div class="my-6">
                <p class="mb-1 text-sm font-medium">Town / City</p>
                <input
                  class="h-14 w-full rounded-none pl-4"
                  placeholder="City"
                  pInputText="text"
                />
              </div>

              <!-- country dropdown -->
              <div class="grid gap-x-6 grid-cols-2">
                <!-- fname -->
                <div>
                  <p class="mb-1 text-sm font-medium">State / County</p>
                  <!-- gender -->
                  <p-dropdown
                    styleClass="w-full h-16"
                    [options]="gender"
                    optionLabel="name"
                    placeholder="Select country"
                  />
                </div>
                <!-- lname -->
                <div>
                  <p class="mb-1 text-sm font-medium">Postcode ZIP</p>
                  <input
                    class="h-14 rounded-none pl-4 w-full"
                    placeholder="zip code"
                    pInputText="text"
                  />
                </div>
                <!-- apply button -->
              </div>

              <!-- phone -->
              <div class="my-6">
                <p class="mb-1 text-sm font-medium">
                  Phone <span class="text-red-500">*</span>
                </p>
                <input
                  class="h-14 w-full rounded-none pl-4"
                  placeholder="Phone"
                  pInputText="text"
                />
              </div>

              <!-- email -->
              <div class="my-6">
                <p class="mb-1 text-sm font-medium">
                  Email address <span class="text-red-500">*</span>
                </p>
                <input
                  class="h-14 w-full rounded-none pl-4"
                  placeholder="Email"
                  pInputText="text"
                />
              </div>

              <!-- Order notes (optional) -->
              <div class="my-6">
                <p class="mb-1 text-sm font-medium">Order notes (optional)</p>

                <textarea
                  class="w-full"
                  rows="7"
                  cols="30"
                  pInputTextarea
                ></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- details root -->
      <div class="shadow-sm h-[31.6rem] bg-white col-span-3 lg:col-span-2">
        <!-- cart details -->

        <!-- subtotal start -->
        <div class="col-span-2 lg:col-span-1 shadow-2xl p-8">
          <h2 class="teachers-regular text-3xl mb-2">Your Order</h2>

          <!-- order total -->
          <div class="flex items-center justify-between">
            <p class="font-medium text-lg">Product</p>
            <p class="font-medium">Total</p>
          </div>
          <hr class="w-full h-1 bg-gray-100 mb-4 mt-2" />

          <div class="flex items-center justify-between">
            <p class="font-medium text-lg">Subtotal</p>
            <p class="font-medium">{{ totalPrice | currency }}</p>
          </div>

          <hr class="w-full bg-gray-50 my-4 h-1" />
          <!-- shipping start -->
          <div>
            <p class="teachers-regular font-medium">Shipping</p>
            <div class="flex flex-col">
              <div class="flex items-center mt-3 gap-x-2">
                <p-radioButton
                  (onClick)="increesPrice(20)"
                  id="flat"
                  name="shipping"
                  value="flat"
                  [(ngModel)]="shipping"
                  inputId="ingredient1"
                /><label class="text-sm" for="flat"
                  >Flat rate:
                  <span class="font-medium text-blue-500">$20.00</span></label
                >
              </div>
              <!-- local -->
              <div class="flex items-center mt-3 gap-x-2">
                <p-radioButton
                  (onClick)="increesPrice(25)"
                  id="local"
                  name="shipping"
                  value="local"
                  [(ngModel)]="shipping"
                  inputId="ingredient1"
                /><label class="text-sm" for="local"
                  >Local pickup:
                  <span class="font-medium text-blue-500">$25.00</span></label
                >
              </div>
              <!-- free shuppig -->
              <div class="flex items-center mt-3 gap-x-2">
                <p-radioButton
                  (onClick)="increesPrice(0)"
                  id="free"
                  name="shipping"
                  value="free"
                  [(ngModel)]="shipping"
                  inputId="ingredient1"
                /><label class="text-sm" for="free">Free shipping </label>
              </div>
            </div>
          </div>
          <hr class="w-full bg-gray-50 mt-4 mb-3 h-1" />

          <!-- total price -->
          <div class="flex items-center justify-between">
            <p class="font-medium text-lg">Total</p>
            <p class="font-medium">{{ totalPrice | currency }}</p>
          </div>

          <!-- checkout button -->
          <a routerLink="/pages/checkout">
            <p-button
              (click)="placeOrder()"
              styleClass="rounded-sm w-full border-blue-500 py-4 px-10 font-light text-sm mt-8  bg-blue-500 text-white"
              label="Place Order"
            ></p-button>
          </a>
        </div>
      </div>
    </div>

    <!-- no products -->
    <div *ngIf="products.length == 0">
      <div
        class="flex flex-col items-center justify-center -mb-24 py-20 shadow-md"
      >
        <p class="text-3xl teachers-regular">
          No items found in cart to checkout
        </p>
        <a routerLink="/home">
          <p-button
            styleClass="rounded-sm text-black   border-black py-3 px-6 font-light text-sm mt-8  bg-transparent text-black"
            label="Continue Shopping"
          ></p-button>
        </a>
      </div>
    </div>
  </div>
</section>
