<section>
  <!-- wishlist container -->
  <div class="container mx-auto px-[5%] mt-20">
    <h2 class="text-4xl teachers-regular">Wishlist</h2>

    <!-- wishlist path -->
    <app-path></app-path>

    <!-- wishlist grid -->
    <div
      *ngIf="products.length == 0"
      class="flex flex-col items-center justify-center mt-28 teachers-regular text-3xl"
    >
      <h2>No Wishlist Items Found</h2>
      <a routerLink="/home">
        <p-button
          styleClass="rounded-sm w-full border-black py-3 px-10 font-light text-sm my-8  bg-black text-white"
          label="Continue Shopping"
        ></p-button>
      </a>
    </div>
  </div>
</section>
