<div class="bg-[#0989FF] relative shadow-sm -mb-24 mt-20 py-16">
  <img
    class="absolute top-0"
    src="https://shofy-angular.vercel.app/assets/img/subscribe/subscribe-shape-1.png"
    alt=""
  />
  <img
    class="absolute top-32 left-40"
    src="https://shofy-angular.vercel.app/assets/img/subscribe/subscribe-shape-2.png"
    alt=""
  />
  <!-- <img
    src="https://shofy-angular.vercel.app/assets/img/subscribe/subscribe-shape-3.png"
    alt=""
  /> -->
  <img
    class="absolute top-10 right-44"
    src="https://shofy-angular.vercel.app/assets/img/subscribe/plane.png"
    alt=""
  />

  <!-- man image -->
  <img
    class="absolute -top-4 right-52"
    src="https://shofy-angular.vercel.app/assets/img/subscribe/subscribe-shape-4.png"
    alt=""
  />
  <div class="container mx-auto px-[5%]">
    <div
      class="flex flex-col lg:flex-row gap-y-8 gap-x-6 items-center text-white justify-between"
    >
      <div>
        <p class="text-lg font-medium z-10">SALE 20% OFF ALL STORE</p>
        <h2 class="text-4xl font-bold z-10">Subscribe our Newsletter</h2>
      </div>
      <div>
        <form>
          <div
            class="flex flex-col lg:flex-row lg: gap-y-2 lg:gap-y-0 lg:items-center"
          >
            <input
              placeholder="Enter Your Email"
              class="px-8 py-4 z-10 rounded-tl-md rounded-bl-md w-[24rem] text-black"
              type="text"
            />
            <button class="bg-black px-8 py-4 font-medium z-10">
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
