<div class="py-20 px-[15%] bg-[#115061] text-white relative">
  <img
    class="absolute right-0 top-0 bg-transparent z-0"
    src="assets\homeSlider\tree2.png"
    alt=""
  />
  <img
    class="absolute rotate-180 -left-28 bottom-0 bg-transparent z-0"
    src="assets\homeSlider\tree2.png"
    alt=""
  />
  <!-- template 1 -->
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="container mx-auto z-10">
        <div class="grid grid-cols-3 items-center">
          <div class="col-span-3 gap-y-10 lg:gap-y-0 lg:col-span-2">
            <p class="text-lg">
              Starting at <span class="font-bold">$274</span>
            </p>
            <div class="text-6xl font-bold">
              <h2>The best table</h2>
              <h2>Collection 2023</h2>
            </div>
            <div class="text-2xl mt-4 mb-6 sedan-regular">
              <p>
                Exclusive offer <span class="text-yellow-300">-35%</span> off
                this week,
              </p>
            </div>

            <button
              class="bg-white text-sm text-black py-3 px-4 rounded-md font-bold hover:bg-transparent hover:text-white border-y-2 border-x-2 hover:border-white transition-all duration-200"
            >
              Shop now >
            </button>
          </div>
          <div class="col-span-3 gap-y-10 lg:gap-y-0 lg:col-span-1">
            <img class="w-full" src="assets\homeSlider\watch.png" alt="" />
          </div>
        </div>
      </div>
    </ng-template>

    <!-- template 2 -->
    <ng-template carouselSlide>
      <div class="container mx-auto">
        <div class="grid grid-cols-6 items-center">
          <div class="col-span-6 gap-y-10 lg:gap-y-0 lg:col-span-3">
            <p class="text-lg">
              Starting at <span class="font-bold">$999</span>
            </p>
            <div class="text-6xl font-bold">
              <h2>The best note book</h2>
              <h2>Collection 2023</h2>
            </div>
            <p class="text-2xl mt-4 mb-6 sedan-regular">
              Exclusive offer <span class="text-yellow-300">-10%</span> off this
              week,
            </p>
            <button
              class="bg-white text-sm text-black py-3 px-4 rounded-md font-bold hover:bg-transparent hover:text-white border-y-2 border-x-2 hover:border-white transition-all duration-200"
            >
              Shop now >
            </button>
          </div>
          <div class="col-span-6 gap-y-10 lg:gap-y-0 lg:col-span-3">
            <img class="w-full" src="assets\homeSlider\tablit.png" alt="" />
          </div>
        </div>
      </div>
    </ng-template>

    <!-- template 3 -->
    <ng-template carouselSlide>
      <div class="container mx-auto">
        <div class="grid grid-cols-3 items-center">
          <div class="col-span-3 gap-y-10 lg:gap-y-0 lg:col-span-2">
            <p class="text-lg">
              Starting at <span class="font-bold">$999</span>
            </p>
            <div class="text-6xl font-bold">
              <h2>The best note book</h2>
              <h2>Collection 2023</h2>
            </div>
            <p class="text-2xl mt-4 mb-6 sedan-regular">
              Exclusive offer <span class="text-yellow-300">-10%</span> off this
              week,
            </p>
            <button
              class="bg-white text-sm text-black py-3 px-4 rounded-md font-bold hover:bg-transparent hover:text-white border-y-2 border-x-2 hover:border-white transition-all duration-200"
            >
              Shop now >
            </button>
          </div>
          <div class="col-span-3 gap-y-10 lg:gap-y-0 lg:col-span-1">
            <img class="w-full" src="assets\homeSlider\tablet2.png" alt="" />
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
