<section>
  <div class="container mx-auto mt-24 px-[7%]">
    <!-- grid sales -->
    <div class="grid gap-y-6 xl:gap-y-0 grid-cols-5 gap-x-6">
      <!-- first sales -->
      <div
        class="col-span-5 lg:col-span-3 shadow-md shadow-gray-200 bg-[#f6f7f9]"
      >
        <div class="grid grid-cols-4">
          <!-- saled text -->
          <div class="col-span-2 p-14">
            <a routerLink="/shop">
              <div
                class="hover:text-blue-500 mt-2 text-3xl hover:cursor-pointer transition-all duration-300 font-medium"
              >
                <h2>Smartphone</h2>
                <h2>BLU G91 Pro 2022</h2>
              </div>
            </a>

            <div class="mt-6">
              <a
                class="hover:text-blue-500 transition-all duration-300 font-medium"
                routerLink="/shop"
              >
                <p>Shop Now -></p>
              </a>
            </div>
          </div>
          <!-- img sales -->
          <div class="col-span-2 relative">
            <img
              class="h-[22rem] absolute -bottom-16 right-0"
              src="https://i.ibb.co/jvGv6qf/mobile-1.png"
              alt=""
            />
          </div>
        </div>
      </div>

      <!-- second sales -->
      <div
        class="col-span-5 lg:col-span-2 shadow-md shadow-gray-200 bg-[#90DAFF]"
      >
        <div class="p-14 grid grid-cols-2 items-center gap-x-2">
          <div class="col-span-1">
            <a routerLink="/shop">
              <div
                class="hover:text-blue-500 mt-2 text-lg hover:cursor-pointer transition-all duration-300 font-medium"
              >
                <h2>HyperX Cloud II</h2>
                <h2>Wireless</h2>
              </div>
            </a>
            <p class="mt-2 font-medium">Sale 35% off</p>

            <div class="mt-6">
              <a
                class="hover:text-blue-500 transition-all duration-300 font-medium"
                routerLink="/shop"
              >
                <p>Shop Now -></p>
              </a>
            </div>
          </div>
          <div class="col-span-1">
            <img
              class="w-2/3"
              src="https://i.ibb.co/5FPhGtq/headphone-8.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
