<section class="pt-[5%]">
  <div class="container mx-auto">
    <div class="flex flex-col justify-center items-center">
      <div>
        <!-- img srart -->
        <img src="assets\error.png" alt="" />
      </div>
      <h2 class="text-5xl font-medium">Oops! Page not found</h2>
      <div class="my-6">
        <p>
          Whoops, this is embarassing. Looks like the page you were looking for
        </p>
        <p class="text-center pt-1">wasn't found.</p>
      </div>

      <a routerLink="/home">
        <p-button
          styleClass="rounded-sm border-black bg-black text-white"
          label="Back To Home"
        ></p-button>
      </a>
    </div>
  </div>
</section>
